body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-group-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  /*flex-direction: row;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*margin: 10% 0;*/
}

.card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  /*flex-direction: row;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*margin: 10% 0;*/
}
