body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	color: #FF0000;
}

a {
  color: #00B7FF;
}

.green-button {
	background-color: #00FAA4; 
	color: #005236;
	align-items: center;
	justify-content: center;
}

.red-button {
	background-color: #cf0000; 
	color: #ffe3e3;
	align-items: center;
	justify-content: center;
}

.card-group-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  /*flex-direction: row;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*margin: 10% 0;*/
}

.card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  /*flex-direction: row;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*margin: 10% 0;*/
}
